@import '../../settings.scss';

.header-pets .header-container {
  .menu {
    &__icon {
      background: black;
      &::before {
        background: black;
      }
      &::after {
        background: black;
      }
    }
  }

  &__logo-title {
    color: $color-dark;
  }
  &__logo-subtitle {
    color: $color-dark-2;
  }
  &__navbar {
    a {
      color: $color-dark;
      &:hover:after,
      &:focus:after {
        color: $color-dark-2;
      }
    }
    a.active {
      color: $color-dark-2;
      &:after {
        color: #fff;
      }
    }
  }
}
