$primary: #f1cdb3;

html {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1280px;
  width: 100%;
  background-color: #ffffff;
}

.bg {
  position: relative;
  z-index: 0;
  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
        90deg,
        rgba(91, 72, 58, 0.5) 1%,
        rgba(33, 31, 32, 0.4) 100%
      )
      transparent;
  }
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  &:nth-child(odd) {
    background-color: #f6f6f6;
  }
}
