@import '../../../settings';

.about {
  max-height: 1048px;
  min-height: 588px;
  @media (max-width: 1279px) {
    height: 1048px;
  }
  @media (max-width: 767px) {
    height: 974px;
  }
  &__container {
    display: grid;
    grid-template-columns: 420px 1fr;
    @media (max-width: 1279px) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
    }
    @media (max-width: 1279px) {
      margin-bottom: clamp(0px, calc(0px + (100 - 0) * ((100vw - 768px) / (768 - 320))), 100px);
    }
  }
  &__pets {
    background: url('../../../assets/images/about-pets.png') no-repeat center center;
    margin-top: 80px;
    margin-left: clamp(0px, calc(67px - (67 - 0) * ((100vw - 768px) / (1280 - 768))), 67px);
    max-width: 300px;
    height: clamp(352px, calc(352px + (408 - 352) * ((100vw - 320px) / (768 - 320))), 408px);
    width: clamp(260px, calc(260px + (300 - 260) * ((100vw - 320px) / (768 - 320))), 300px);
    display: grid;
    background-size: cover;
    @media (max-width: 1279px) {
      grid-row: 2;
      margin-top: 80px;
      order: 2;
    }
    @media (max-width: 767px) {
      margin: 42px auto 0;
    }
  }
  &__content {
    margin-top: clamp(82px, calc(82px + (95 - 82) * ((100vw - 768px) / (1280 - 768))), 95px);
    width: 100%;
    @media (max-width: 768px) {
      grid-row: 1;
      margin-top: clamp(42px, calc(42px + (82 - 42) * ((100vw - 320px) / (768 - 320))), 82px);
    }
  }
  &__heading {
    font-family: Georgia;
    font-size: clamp(25px, calc(25px + (35 - 25) * ((100vw - 320px) / (768 - 320))), 35px);
    font-weight: 400;
    line-height: clamp(32px, calc(32px + (45 - 32) * ((100vw - 320px) / (768 - 320))), 45px);
    letter-spacing: 0.06em;
    text-align: left;
    max-width: 350px;
    color: $color-dark;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__subheading {
    max-width: 430px;
    max-width: clamp(300px, calc(300px + (430 - 300) * ((100vw - 420px) / (420 - 320))), 430px);
    margin-top: 24px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: $color-dark-4;
    @media (max-width: 767px) {
      margin: 24px 15px 0px;
      text-align: justify;
    }
  }
}
