$primary: #f1cdb3;
$color-dark: #545454;
$color-dark-4: #4C4C4C;

.about {
  max-height: 1048px;
  min-height: 588px;
  @media (max-width: 768px) {
    height: 1048px;
  }
  &__container {
    display: grid;
    grid-template-columns: 420px 1fr;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  &__pets {
    background: url('../../../assets/images/about-pets.png') no-repeat center center;
    margin-top: clamp(17px, calc(17px + (80 - 17) * ((100vw - 768px) / (1280 - 768))), 80px);
    margin-left: clamp(0px, calc(67px - (67 - 0) * ((100vw - 768px) / (1280 - 768))), 67px);
    max-width: 300px;
    height: 408px;
    display: grid;
    @media (max-width: 768px) {
      grid-row: 2;
    }
  }
  &__content {
    margin-top: clamp(82px, calc(82px + (95 - 82) * ((100vw - 768px) / (1280 - 768))), 95px);
    width: 100%;
    @media (max-width: 768px) {
      grid-row: 1;
    }
  }
  &__heading {
    margin: 0;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    max-width: 350px;
    color: $color-dark;
  }
  &__subheading {
    max-width: 430px;
    margin-top: 25px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: $color-dark-4;
  }
}
