$color-dark: #545454;
$color-dark-5: #b2b2b2;

.donation {
  min-height: 462px;
  max-width: clamp(768px, calc(1280px + (1280 - 768) * ((100vw - 768px) / (1280 - 768))), 1280px);
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 100%;
    justify-content: center;
  }
  &__dog {
    background: url('../../../assets/images/donation-dog.png');
    max-width: 505px;
    height: 261px;
    width: 90%;
    margin-left: 0px;
    margin-top: 91px;
    @media (max-width: 954px) {
      order: 1;
      margin-bottom: 100px;
    }
    @media (max-width: 768px) {
      margin-top: 141px;
    }
  }
  &__content {
    width: 380px;
    height: 282px;
    @media (max-width: 768px) {
      margin-left: 0px;
      max-width: 380px;
    }
  }
  &__heading {
    margin-top: clamp(80px, calc(82px - (82 - 80) * ((100vw - 768px) / (1280 - 768))), 82px);
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    max-width: 300px;
    color: $color-dark;
  }
  &__subheading {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 18px;
    color: $color-dark;
  }
  &__credit-card {
    color: $color-dark;
    text-decoration: none;
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    width: 350px;
    height: 43px;
    border-radius: 9px;
    padding-left: 60px;
    position: relative;
    background-color: #f1cdb3;
    &::before {
      content: url('../../../assets/icons/credit-card.svg');
      position: absolute;
      top: 9px;
      left: 15px;
    }
  }
  &__information {
    margin-top: 20px;
    font-family: Arial Italic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 380px;
    color: $color-dark-5;
  }
}
