@import '../../../settings';

.donation {
  min-height: 462px;
  max-width: clamp(768px, calc(768px + (1280 - 768) * ((100vw - 768px) / (1280 - 768))), 1280px);
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 100%;
    justify-content: center;
    @media (max-width: 1279px) {
      display: grid;
    }
  }
  &__dog {
    background: url('../../../assets/images/donation-dog.png');
    max-width: 505px;
    height: 261px;
    width: 90%;
    margin-left: 0px;
    margin-top: 92px;
    @media (max-width: 1279px) {
      order: 1;
      margin: 0 auto;
      margin-top: clamp(42px, calc(42px + (59 - 42) * ((100vw - 320px) / (768 - 320))), 59px);
      margin-bottom: clamp(42px, calc(42px + (100 - 42) * ((100vw - 320px) / (768 - 320))), 100px);
      width: clamp(260px, calc(260px + (505 - 260) * ((100vw - 320px) / (768 - 320))), 505px);
      height: clamp(135px, calc(135px + (261 - 135) * ((100vw - 320px) / (768 - 320))), 261px);
      background-size: cover;
    }
  }
  &__content {
    margin-top: clamp(80px, calc(82px - (82 - 80) * ((100vw - 768px) / (1280 - 768))), 82px);
    max-width: 380px;
    width: 100%;
    height: fit-content;
    @media (max-width: 1279px) {
      margin: 0 auto;
      margin-top: clamp(42px, calc(42px + (80 - 42) * ((100vw - 320px) / (768 - 320))), 80px);
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__heading {
    font-family: Georgia;
    font-size: clamp(25px, calc(25px + (35 - 25) * ((100vw - 320px) / (768 - 320))), 35px);
    font-weight: 400;
    line-height: clamp(32px, calc(32px + (45 - 32) * ((100vw - 320px) / (768 - 320))), 45px);
    letter-spacing: 0.06em;
    text-align: left;
    max-width: 300px;
    color: $color-dark;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__subheading {
    margin-top: clamp(18px, calc(22px - (22 - 18) * ((100vw - 320px) / (768 - 320))), 22px);
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: clamp(19px, calc(20px - (20 - 19) * ((100vw - 320px) / (768 - 320))), 20px);
    letter-spacing: clamp(0px, calc(0px + (0.9 - 0) * ((100vw - 320px) / (768 - 320))), 0.9px);
    text-align: left;
    color: $color-dark;
    @media (max-width: 767px) {
      letter-spacing: 0px;
      text-align: center;
    }
  }
  &__credit-card {
    color: $color-dark;
    text-decoration: none;
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: clamp(15px, calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320))), 20px);
    font-weight: 400;
    line-height: clamp(17px, calc(17px + (23 - 17) * ((100vw - 320px) / (768 - 320))), 23px);
    letter-spacing: 0.06em;
    text-align: left;
    width: clamp(280px, calc(280px + (350 - 280) * ((100vw - 320px) / (768 - 320))), 350px);
    height: 43px;
    border-radius: 9px;
    padding-left: 60px;
    position: relative;
    background-color: #f1cdb3;
    @media (max-width: 767px) {
      margin: 0 auto;
      margin-top: 22px;
    }
    &::before {
      content: url('../../../assets/icons/credit-card.svg');
      position: absolute;
      top: 9px;
      left: 15px;
    }
  }
  &__information {
    margin-top: 20px;
    font-family: Arial Italic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 380px;
    color: $color-dark-5;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 18px;
      text-align: justify;
      padding: 0 10px;
    }
  }
}
