$primary: #f1cdb3;

.header {
  display: flex;
  max-height: 120px;
  max-width: 1280px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  z-index: 2;
}

.header-container {
  padding: 0px 40px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;

  &__logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 2px;
    color: $primary;
  }
  &__logo-subtitle {
    margin: 0;
    margin-left: 4px;
    margin-top: 10px;
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.3px;
    color: #ffffff;
  }
  &__navbar {
    max-width: 443px;
    width: 100%;
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: space-between;
      li {
        list-style: none;
        font-family: Arial;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        a {
          color: #ffffff;
          text-decoration: none;
          cursor: pointer;
          position: relative;
          &:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $primary;
            content: '';
            transition: width 0.3s ease-out;
          }
          &:hover:after,
          &:focus:after {
            width: 100%;
          }
        }
      }
    }
  }
}