$color-dark: #545454;
$itemConfig: 'food' 82px, 'transportation' 150px, 'toys' 60px, 'bowls' 153px, 'shampoos' 101px,  'vitamins' 89px, 'medicines' 101px, 'collars' 165px, 'sleeping' 143px;

.help {
  min-height: clamp(611px, calc(779px - (779 - 611) * ((100vw - 768px) / (1280 - 768))), 779px);
  height: 100%;
  max-width: clamp(768px, calc(1280px + (1280 - 768) * ((100vw - 768px) / (1280 - 768))), 1280px);;
  width: 100%;
  display: flex;
  space-content: center;
  &__container {
    margin-top: 80px;
    display: grid;
    place-content: center;
    grid-template-rows: 90px 1fr;
    max-height: clamp(431px, calc(599px - (599 - 431) * ((100vw - 768px) / (1280 - 768))), 599px);
    width: clamp(630px, calc(630px + (1200 - 630) * ((100vw - 768px) / (1280 - 768))), 1200px);
  }
  &__heading {
    margin: 0 auto;
    max-width: 400px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark;
  }
  &__list {
    display: flex;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    gap: 55px clamp(60px, calc(60px + (120 - 60) * ((100vw - 768px) / (1280 - 768))), 120px);;
    margin: 0;
    margin-top: 61px;
    padding: 0;
    justify-content: center;
  }

  @each $name in $itemConfig {
    &__item-#{nth($name, 1)} {
      height: 113px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: url('../../../assets/icons/#{nth($name, 1)}.svg');
      width: nth($name, 2);
      @media (max-width: 768px) {
        width: 170px;
      }
    }
  }
  h4 {
    margin: 0;
    width: fit-content;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark;
  }
}