$primary: #f1cdb3;
$primary-hover: #fddcc4;
$primary-active: #f4914a;
$color-dark: #545454;
$color-dark-2: #292929;

.pets {
  min-height: 877px;
  max-height: 1300px;
  &__container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-height: 697px;
  }
  &__heading {
    margin: 0 auto;
    margin-top: 81px;
    max-width: 400px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    background-color: $primary;
    height: 50px;
    width: 261px;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: left;
    color: $color-dark-2;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: $primary-hover;
      transition: 0.3s ease-in-out;
    }
  }
}

.slider {
  margin-top: 60px;
  max-height: fit-content;
  display: grid;
  grid-template-columns: 52px 1fr 52px;
  column-gap: clamp(12px, calc(12px + (53 - 12) * ((100vw - 768px) / (1280 - 768))), 53px);
  grid-template-rows: 1fr;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  @media (max-width: 768px) {
    column-gap: 12px;
  }
  &__arrow-left,
  &__arrow-right {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $primary;
    position: relative;
    &:hover {
      background-color: $primary-hover;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
    &:active {
      background-color: $primary-active;
      transition: 0.3s ease-in-out;
    }
    &:after {
      position: absolute;
      top: 12px;
      right: 18px;
    }
  }
  &__arrow-left {
    &:after {
      content: url('../../../assets/icons/Arrow-left.svg');
    }
  }
  &__arrow-right {
    &:after {
      content: url('../../../assets/icons/Arrow-right.svg');
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    column-gap: clamp(40px, calc(40px + (90 - 40) * ((100vw - 768px) / (1280 - 768))), 90px);
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 270px);
      column-gap: 40px;
      margin: 0 auto;
    }
  }
  .card {
    width: 270px;
    height: 435px;
    background-color: #fff;
    display: grid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 12px 12px 0 0;
    @media (max-width: 1218px) {
      &:nth-last-child(1) {
        display: none;
      }
    }
    &:hover {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      .card__button {
        transition: 0.3s ease-in-out;
        background-color: $primary-hover;
      }
      img {
        filter: saturate(2);
      }
    }
    &:active {
      .card__button {
        background-color: $primary-active;
        transition: 0.3s ease-in-out;
      }
    }
    figure {
      margin: 0;
      height: 300px;
      border-radius: 12px 12px 0 0;
      img {
        border-radius: 12px 12px 0 0;
        cursor: pointer;
        height: 270px;
        width: 270px;
        margin: 0;
        transition: 0.5s ease-in-out;
      }
    }
    figcaption {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      font-family: Georgia;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.06em;
      text-align: center;
      color: $color-dark;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 20px;
      background-color: transparent;
      height: 50px;
      width: 185px;
      border-radius: 100px;
      font-family: Georgia;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.06em;
      text-align: left;
      color: $color-dark-2;
      cursor: pointer;
      text-decoration: none;
      border: 2px solid $primary;
    }
  }
}
