@import '../../../_settings';

.our-pets {
  max-width: 1280px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: $color-light-4;
  &__container {
    margin-top: 80px;
    min-height: 1162px;
    max-width: 1200px;
    @media (max-width: 1279px) {
      margin-top: clamp(42px, calc(42px + (82 - 42) * ((100vw - 320px) / (768 - 320))), 82px);
    }
  }
  &__heading {
    margin: 0 auto;
    // margin-top: 10px;
    max-width: 400px;
    @include font(Georgia, 35px, 45px, 400, 0.06em);
    text-align: center;
    color: $color-dark;
    @media (max-width: 1279px) {
      font-size: clamp(25px, calc(25px + (35 - 25) * ((100vw - 320px) / (768 - 320))), 35px);
      line-height: clamp(32px, calc(32px + (45 - 32) * ((100vw - 320px) / (768 - 320))), 45px);
    }
  }
  .slider-pet {
    margin: 0 auto;
    margin-top: clamp(20px, calc(20px + (50 - 20) * ((100vw - 768px) / (1280 - 768))), 50px);
    margin-bottom: clamp(0px, calc(0px + (100 - 0) * ((100vw - 768px) / (1280 - 768))), 100px);
    max-width: 1200px;
    display: grid;
    grid-template-rows: 1fr 52px;
    grid-template-columns: 1fr;
    row-gap: clamp(38px, calc(38px + (60 - 38) * ((100vw - 768px) / (1280 - 768))), 60px);
    @media (max-width: 1279px) {
      row-gap: 38px;
      margin-top: clamp(20px, calc(32px - (32 - 20) * ((100vw - 320px) / (768 - 320))), 32px);
      margin-bottom: clamp(43px, calc(43px + (76 - 43) * ((100vw - 320px) / (768 - 320))), 76px);
    }
    @media (max-width: 767px) {
      row-gap: 42px;
    }
    &__cards {
      margin-top: 10px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px 40px;
      justify-content: center;
      @media (max-width: 1279px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
      @media (max-width: 767px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
      }
    }
    .card {
      width: 270px;
      height: 435px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      margin-top: 0px;
      @media (max-width: 1279px) {
        &:nth-last-child(1),
        &:nth-last-child(2) {
          display: none;
        }
      }
      @media (max-width: 767px) {
        &:nth-last-child(3),
        &:nth-last-child(4),
        &:nth-last-child(5) {
          display: none;
        }
      }
      &:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        .card__button {
          transition: 0.3s ease-in-out;
          background-color: $primary-hover;
        }
        img {
          filter: saturate(2);
        }
      }
      &:active {
        .card__button {
          background-color: $primary-active;
          transition: 0.3s ease-in-out;
        }
      }
      figure {
        margin: 0;
        height: 323px;
        border-radius: 12px 12px 0 0;
        img {
          border-radius: 12px 12px 0 0;
          cursor: pointer;
          height: 270px;
          width: 270px;
          margin: 0;
          transition: 0.5s ease-in-out;
        }
        figcaption {
          height: 23px;
          margin: 0;
          margin-top: 26px;
          display: flex;
          justify-content: center;
          @include font(Georgia, 20px, 23px, 400, 0.06em);
          text-align: center;
          color: $color-dark;
        }
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 31px;
        background-color: transparent;
        height: 50px;
        width: 185px;
        border-radius: 100px;
        @include font(Georgia, 17px, 22px, 400, 0.06em);
        text-align: left;
        color: $color-dark-2;
        cursor: pointer;
        text-decoration: none;
        border: 2px solid $primary;
      }
    }
    &__navigation {
      margin: 0 auto;
      // margin-top: clamp(0px, calc(0px + (15 - 0) * ((100vw - 768px) / (1280 - 768))), 15px);
      width: fit-content;
      height: 52px;
      list-style: none;
      display: flex;
      gap: 0 20px;
      @media (max-width: 1279px) {
        gap: 0 clamp(10px, calc(10px + (20 - 10) * ((100vw - 320px) / (768 - 320))), 20px);
      }
    }
    .paginator {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 2px solid $primary;
      display: grid;
      align-items: center;
      cursor: pointer;
    }
    &__paginator-number {
      @extend .paginator;
      background-color: $primary;
      pointer-events: none;
    }
    @each $name in $paginatorConfig {
      &__paginator-#{nth($name, 1)}.inactive {
        border: 2px solid $color-light-2;
        color: $color-dark;
        pointer-events: none;
      }
      &__paginator-#{nth($name, 1)} {
        @extend .paginator;
        &:hover {
          background-color: $primary-hover;
        }
        &:active {
          background-color: $primary-active;
          transition: 0.3s ease-in-out;
        }
        h4 {
          &::after {
            position: absolute;
            content: url('../../../assets/icons/#{nth($name, 1)}.svg');
            top: -12px;
            left: nth($name, 2);
          }
        }
      }
    }
    &__button {
      margin: 0;
      display: flex;
      justify-content: center;
      @include font(Georgia, 20px, 23px, 400, 0.06em);
      text-align: center;
      color: $color-dark-2;
      transition: 0.3s ease-in-out;
      position: relative;
    }
  }
}
